recursive-include orangecontrib *.pyx *.cpp *.net *.py *.tab *.png *.svg *.tsv
recursive-include doc *.bat *.json *.md *.png *.py *.rst Makefile

include *.py *.txt *.rst *.pypi *.md *.ini .coveragerc
include COPYING
include LICENSE
