recursive-include orangecontrib *.pyx *.cpp
recursive-include orangecontrib/network *.png *.svg
recursive-include orangecontrib/network/networks *
recursive-include docs/rst *
include docs/Makefile
include COPYING
include LICENSE
include *.py *.txt *.rst
